<!DOCTYPE html>
<html>
  <head>
    <title>Paul Fournier | Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <title>Paul Fournier</title>
    <link href="../style/application.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');</style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  </head>

  <body>
    <%= render 'shared/navbar' %>
      <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
